# Editor Files
.vscode
.idea
*.iml
*.code-workspace
.changelog

# Yarn
.yarn
.eslintcache
yarn-error.log
build
coverage

#Docusaurus
.docusaurus
.cache-loader
types
test-website

#Temporary Files.
stdout/
tmp_data
db_data
wallet_data
node_modules
modules
.eslintcache

# Secrets
contracts/secrets
eosio.key
*.key
wallet_password.txt

# Local Mac files
.DS_Store

# Local env
.env*
!.env.example

# Build Dirs
build
build_*
