# Editor Files
.vscode
.idea
*.iml
*.code-workspace
.changelog

# Yarn 
.yarn
.eslintcache
yarn-error.log
build
coverage

#Docusaurus
.docusaurus
.cache-loader
types
test-website

#Temporary Files.
stdout/

# Secrets
contracts/secrets
eosio.key
*.key
wallet_password.txt

# Local Mac files
.DS_Store

# Local env
.env
node_modules
